:host {
  --color-2: #1f2335;
  display: block;

  @keyframes loading {
    0%   { cy: 10; }
    25%  { cy: 3; }
    50%  { cy: 10; }
  }

  canvas {
    position: fixed;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    z-index: 2;
    left: 0;
    top: 0;
  }

  button {
    display: flex;
    opacity: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4) inset;
    transition: width .2s cubic-bezier(.39,1.86,.64,1) .3s;
    border: 3px transparent solid;
    background-color: var(--color-2);
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 40px;
    padding: 8px 15px;
    font-size: 1em;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: var(--color-2);
      border-color: var(--color-2);
    }

    &:focus {
      outline: none;
    }

    .message {
      display: none;
      opacity: 0;
    }

  }

  // READY STATE
  button.ready {
    .submitMessage {
      display: flex;
      opacity: 1;
      svg {
        top: 1px;
        transition: top .4s ease 600ms, opacity .3s linear 600ms;
        fill: transparent;
      }
      .button-text span {
        transition: opacity .2s ease calc(var(--dr) + 600ms);
      }
    }
  }

  // LOADING STATE
  button.loading {
    &::before {
      transition: width .3s ease;
      width: 80%;
    }

    .loadingMessage {
      display: flex;
      opacity: 1;
    }

    .loadingCircle {
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: loading;
      cy: 10;
    }
  }

  // COMPLETE STATE
  button.complete {
    .submitMessage svg {
      top: -30px;
      transition: none;
      fill: transparent;
    }

    .submitMessage .button-text span {
      top: -8px;
      transition: none;
    }

    .loadingMessage {
      top: 80px;
    }

    .successMessage {
      display: flex;
      opacity: 1;
      .button-text span {
        left: 0;
        transition: opacity .2s ease calc(var(--d) + 1000ms);
      }
      svg {
        fill: transparent;
        stroke-dashoffset: 0;
        transition: stroke-dashoffset .3s ease-in-out 1.4s;
      }
    }

  }

  .button-text span {
    width: 100%;
  }

  .message {
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    justify-content: center;
    column-gap: 7px;
  }

  .message svg {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
  }

  .submitMessage {
    .button-text span {
      top: 8px;
      transition: all .2s ease var(--d);
    }

    svg {
      color: #5c86ff;
      transition: top .4s ease, opacity .3s linear;
      width: 14px;
    }
  }

  .loadingMessage {
    transition: opacity .3s linear .3s, top .4s cubic-bezier(.22,0,.41,-0.57);

    svg {
      fill: #5c86ff;
      margin: 0;
      width: 22px;
    }
  }

  .successMessage {
    .button-text span {
      transition: all .2s ease var(--dr);
    }

    svg {
      color: #5cffa1;
      stroke-dasharray: 20;
      stroke-dashoffset: 20;
      transition: stroke-dashoffset .3s ease-in-out;
      width: 14px;
    }
  }

  .loadingCircle:nth-child(2) { animation-delay: .1s }
  .loadingCircle:nth-child(3) { animation-delay: .2s }

}
